* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

.header {
    background-color: #AAAAAA;
    padding: 20px;
    text-align: center;
}

.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 200px;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pokemon-card span {
    font-size: 1em;
    color: #666;
}

.pokemon-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pokemon-detail img {
    width: 200px;
    height: 200px;
}

.pokemon-info {
    text-align: center;
    margin-top: 20px;
}

.pokemon-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.pokemon-info p {
    font-size: 1.2em;
    color: #666;
    margin: 5px 0;
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #AEAEAE;
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .pokemon-card {
        width: 100%;
        margin: 10px 0;
    }
}
